<section>
    <div class="row">
        <div class="col-sm-4 intro">
            <a ui-sref="home" title="Wontah" class="logo-name">Wontah</a>
            <p>Post the link of anything interesting you found on the Internet. Make your submissions publicly, or keep it private. The choice is yours!</p>
        </div>
        <div class="col-sm-8 menu">
            <div class="row">
                <div class="col-sm-3">
                    <h3>Wontah</h3>
                    <ul>
                        <li><a ui-sref="about" title="About Wontah">About <!-- (incl. Board & Contact) //--></a></li>
                        <li><a ui-sref="terms-of-service" title="Wontah, inc. Terms of Service">Terms</a></li>
                        <li><a ui-sref="privacy-policy" title="Wontah, inc. Privacy Policy">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Get Started</h3>
                    <ul>
                        <li><a ui-sref="documentation" title="Wontah Documentation Pages">Documentation</a></li>
                        <li><a target="_blank" ui-sref="blog" title="Wontah Blog">Blog</a></li>
                        <li><a ui-sref="how-it-works" title="Get Support on Wontah">Get Support</a></li>
                        <li><a ui-sref="status" title="Status Page">Status Page</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Community</h3>
                    <ul>
                        <li><a target="_blank" href="http://" title="">Thumbr</a></li>
                        <li><a target="_blank" href="http://" title="Wontah on Twitter">Twitter</a></li>
                        <li><a target="_blank" href="http://facebook.com/wontah" title="Wontah on Facebook">Facebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 applications">
                    <a id="signUpFooter" class="btn btn-lg sign-up" ui-sref="register" role="button">
                        <span class="text">Sign up</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="col-md-12">
            &copy; 2016 Wontah, Inc.
        </div>
    </div>
</section>