<a href="/u/{{match.model.username}}">
    <div class="media" style="border-bottom: 1px solid #EEEEEE;padding:5px;">
        <span class="media-left"><img class="img-circle" src="/user/{{match.model.username}}/{{match.model.avatar}}" width="30px" height="30px" alt="{{match.model.username}}" /> </span>
        <span class="media-body">
            <span class="media-heading">({{match.model.username}})</span>
            <span class="lead">{{match.model.firstname}} {{match.model.lastname}}</span>
        </span>

    </div>
</a>