<tabset>
    <tab heading="Hot" ng-click="getAllHott()">
        <span  ng-show="load" class="text-muted">loading...</span>
        <ul id="hottimeline" class="timeline" ng-if="hot.length > 0 && !isError">
            <li class="timeline-inverted" ng-repeat="up in hot" ng-hide="up.anonymous && (luname !== username)"  id="hpost_{{up.id}}" ng-include="'partials/templates/getallsub.tpl.html'"></li>
        </ul>
        <span ng-if="hot.length > 0 && !isError" ng-click="loadmore('hot');" class="loadmore">
            <span ng-show="mload" class="ion ion-load-c wt-spin fa fa-spin"></span>
            <span ng-hide="mload">load more</span>
        </span>
        <ul ng-hide="load" ng-if="hot.length === 0 || isError">
            <li class="text-muted">There seems to be no content here</li>
        </ul>
    </tab>
    <tab heading="New" ng-click="getAllNewt()">
        <span  ng-show="load" class="text-muted">loading...</span>
        <ul id="newtimeline" class="timeline" ng-if="new.length > 0 && !isError">
            <li class="timeline-inverted" ng-repeat="up in new" ng-hide="up.anonymous && (luname !== username)"  id="npost_{{up.id}}" ng-include="'partials/templates/getallsub.tpl.html'"></li>
        </ul>
        <span ng-if="new.length > 0 && !isError" ng-click="loadmore('new');" class="loadmore">
            <span ng-show="mload" class="ion ion-load-c wt-spin fa fa-spin"></span>
            <span ng-hide="mload">load more</span>
        </span>
        <ul ng-hide="load" ng-if="new.length === 0 || isError">
            <li class="text-muted">There seems to be no content here</li>
        </ul>
    </tab>
    <tab heading="Controversial" ng-click="getAllCont('24h')">
        <span  ng-show="load" class="text-muted">loading...</span>
        <ul class="timeline" ng-hide="load">
            <li id="Contform" class="col-xs-12">
                <label for="postedtime"></label>
                <select name="postedtime" class="wt-sort-select" id="postedtime"  ng-model="postedtime" ng-options="p.name for p in postedtimes" ng-change="getAllCont(postedtime)">
                </select>
            </li>
        </ul>
        <ul id="contimeline" class="timeline" ng-if="con.length > 0 && !isError">
            <li class="timeline-inverted" ng-repeat="up in con" ng-hide="up.anonymous && (luname !== username)"  id="cpost_{{up.id}}" ng-include="'partials/templates/getallsub.tpl.html'"></li>
        </ul>
        <span ng-if="con.length > 0 && !isError" ng-click="loadmore('con');" class="loadmore">
            <span ng-show="mload" class="ion ion-load-c wt-spin fa fa-spin"></span>
            <span ng-hide="mload">load more</span>
        </span>
        <ul ng-hide="load" ng-if="con.length === 0 || isError">
            <li class="text-muted">There seems to be no content here</li>
        </ul>
    </tab>
    <tab heading="Top" ng-click="getAllTopt('24h')">
        <span  ng-show="load" class="text-muted">loading...</span>
        <ul class="timeline" ng-hide="load">
            <li class="col-xs-12">
                <label for="postedtime2"></label>
                <select name="postedtime2" class="wt-sort-select" id="postedtime2"  ng-model="postedtime2" ng-options="p.name for p in postedtimes" ng-change="getAllTopt(postedtime2)">
                </select>
            </li>
        </ul>
        <ul id="toptimeline" class="timeline" ng-if="top.length > 0 && !isError">
            <li class="timeline-inverted" ng-repeat="up in top" ng-hide="up.anonymous && (luname !== username)" id="tpost_{{up.id}}" ng-include="'partials/templates/getallsub.tpl.html'"></li>
        </ul>
        <span ng-if="top.length > 0 && !isError" ng-click="loadmore('top');" class="loadmore">
            <span ng-show="mload" class="ion ion-load-c wt-spin fa fa-spin"></span>
            <span ng-hide="mload">load more</span>
        </span>
        <ul ng-hide="load" ng-if="top.length === 0 || isError">
            <li class="text-muted">There seems to be no content here</li>
        </ul>
    </tab>
    <tab ng-if="(luname === username) && profile" heading="saved posts" ng-click="getAllsavedt()">
        <span  ng-show="load" class="text-muted">loading...</span>
        <ul id="savetimeline" class="timeline" ng-if="save.length > 0 && !isError">
            <li class="timeline-inverted" ng-repeat="up in save" id="spost_{{up.id}}" ng-include="'partials/templates/getallsub.tpl.html'"></li>
        </ul>
        <ul ng-hide="load" ng-if="save.length === 0 || isError">
            <li class="text-muted">There seems to be no content here</li>
        </ul>
    </tab>
</tabset>