<md-dialog aria-label="Compose"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools mob-primary">
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="ion ion-android-arrow-back" aria-label="Close dialog"></md-icon>
                </md-button>
                <span flex></span>
                <h4>Compose</h4>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon class="ion ion-android-more-vertical" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-wrap>
                    <div flex="100" layout="column">
                        <form>
                            <md-content>
                                <md-input-container class="md-block">
                                    <label for="toWho">To:</label>
                                    <input name="toWho" required type="text" autocomplete="off" autofocus id="toWho" ng-model="to" typeahead="option as option.username for option in p.options | filter:$viewValue | limitTo:10" />
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label for="subject">Subject:</label>
                                    <textarea maxlength="100" name="subject" required ng-model="subject" id="subject"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label for="subject">Message:</label>
                                    <text-angular
                                            ta-toolbar="[['h1','h2','h3','p','pre','bold','italics','underline','ul','ol','justifyLeft','justifyCenter','justifyRight']]"
                                            name="htmlcontent"
                                            ng-model="htmlcontent"
                                            ta-target-toolbars='toolbar'
                                            ta-toolbar-class="btn-toolbar"
                                            ta-toolbar-group-class="btn-group"
                                            ta-toolbar-button-class="btn btn-default"
                                            ta-toolbar-button-active-class="active"></text-angular>
                                    <textarea id="messagebox" style="display:none;" ng-model="htmlcontent"></textarea>
                                </md-input-container>
                            </md-content>
                            <div class="modal-footer wt-center-content">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-icon-button" ng-click="showTextBar();">
            <md-icon class="fa fa-italic wt-send" aria-label="Close dialog"></md-icon>
            </md-button>
            <span flex></span>
            <md-button ng-disabled="isProcessing" type="submit" ng-click="SaveinboxMessage(subject,to.username)" class="md-icon-button">
                <md-tooltip md-direction="top" md-visible="tooltipVisible">Send</md-tooltip>
                <span ng-show="pmload"><md-progress-circular md-mode="indeterminate"></md-progress-circular></span>
                <span ng-hide="pmload"><md-icon class="ion ion-paper-airplane wt-send"></md-icon></span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

