<span class="wt-web">
    <div class="row">
        <div class="col-md-12">
            <table ng-if="newmsg === '1'" class="F" cellspacing="0" width="100%">
                <tbody>
                <div class="text-muted wt-center-content">
                    <h5 class="h5">received messages</h5>
                </div>
                <hr/>
                <tr ng-repeat="m in msg" id="{{m.id}}" class="yO" tabindex="-1" ng-click="MsgBody(m.id,m.sender)" ng-class="{'wt-noread': m.r_unseen}">
                    <td class="PF xY"></td>

                    <td class="yX xY">
                        <span ng-if="m.hasreplies">
                            <span ng-if="m.sender === luname">
                                me , <span>{{m.receiver}}</span>
                            </span>
                            <span ng-if="m.sender !== luname">
                                <span>{{m.sender}}</span> , me
                            </span>
                            <span ng-if="m.numReplies > 0">({{m.numReplies + 1}})</span>
                        </span>
                        <span ng-if="!m.hasreplies">{{m.sender}}</span>
                    </td>
                    <td class="xY"></td>
                    <td class="xY a4w" tabindex="-1">
                        {{m.subject | cut:true:40:' ...'}}
                    </td>
                    <td class="yF xY">
                        <a ng-if="m.r_unseen && m.sender !== luname" style="width:15px; height:15px; border-radius:8px; background:red;  float:right;margin:5px; "></a>
                        <a ng-if="m.s_unseen && m.sender === luname" style="width:15px; height:15px; border-radius:8px; background:red;  float:right;margin:5px; "></a>
                    </td>
                    <td class="xW xY">
                        {{m.senttime}}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="wt-center-content">
                <span ng-if="newmsg === '0'" class="text-info">No  messages</span>
            </div>
        </div>
    </div>
</span>
<div class="wt-mobile">
    <div ui-content-for="title">
        <span class="wt-mob-logo-name">Inbox</span>
    </div>
    <md-content>
        <md-list>
            <md-list-item id="{{m.id}}" class="md-3-line" ng-repeat="m in msg" ng-click="MsgBody(m.id,m.sender)" ng-class="{'wt-noread1': m.r_unseen && m.sender !== luname || m.s_unseen && m.sender === luname}">
                <div class="md-list-item-text">
                    <h4>
                        <span ng-if="m.hasreplies">
                            <span ng-if="m.sender === luname">
                                me , <span>{{m.receiver}}</span>
                            </span>
                            <span ng-if="m.sender !== luname">
                                <span>{{m.sender}}</span> , me
                            </span>
                            <span ng-if="m.numReplies > 0">({{m.numReplies + 1}})</span>
                        </span>
                        <span ng-if="!m.hasreplies">{{m.sender}}</span>
                    </h4>
                    <p>{{m.subject | cut:true:40:' ...'}}</p>
                    <small class="">{{m.senttime}}</small>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>
