<span class="wt-web">
   <div id="privacy-page">
       <section class="content">
           <div class="row">
               <div class="col-sm-12">
                   <h1>wontah, inc. Blog</h1>
                   <h5>Comming up shortly</h5>
               </div>
           </div>
       </section>
   </div>
</span>
<span class="wt-mobile">
    <div ui-content-for="title">
        <span class="wt-mob-logo-name">Blog</span>
    </div>
    <div class="scrollable">
        <div class="scrollable-content section">
            <h2>wontah, inc. Blog</h2>
            <h5>Comming up shortly</h5>
        </div>
    </div>
</span>
