<span class="wt-web">
    <div class="row">
        <div class="col-md-12">
            <div ng-hide="isStudent" class="wt-middle col-md-8">
                <p>
                    Are you a student of the University of Ghana?
                    <button ng-click="StudentofUg()" ng-disabled="isProcessing" class="btn-sm btn-success">Yes</button>
                    <button ng-click="NotStudentofUg();" ng-disabled="isProcessing" class="btn-sm btn-warning">No</button>
                </p>
                <div class="wt-center-content">
                    <button ng-click="NotStudent();" ng-disabled="isProcessing" class="btn-sm btn-danger">
                        <span ng-show="sloading"><i class="fa fa-spinner fa-2x fa-spin wt-spin"></i></span>
                        <span ng-hide="sloading">I'm not a student</span>
                    </button>
                </div>
            </div>
            <div>
                <div ng-show="isStudent && !isStudentOfUg" class="animate-show wt-middle col-md-8">
                    <div class="col-xs-12 ">
                        <div class="form-group">
                            <form name="pForm">
                                <div ng-show="pForm.schoolname.$focused" class="suggest">Enter the name of your noble institution</div>
                                <input cu-focus class="form-control" ng-model="schoolname" name="schoolname" placeholder="Specify institution (optional)"/>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <button ng-click="StudentofUg()" ng-disabled="isProcessing" class="btn-sm btn-success">
                            I'm  a student of UG.
                        </button>
                        <button ng-click="NotStudent();" ng-disabled="isProcessing" class="btn-sm btn-danger">
                            <span ng-show="sloading"><i class="fa fa-spinner fa-2x fa-spin wt-spin"></i></span>
                            <span ng-hide="sloading">I'm not a student</span>
                        </button>
                        <div>
                            <button ng-click="SubmitNotUgStudent(schoolname)" ng-disabled="isProcessing" class="btn btn-primary">
                                <span ng-show="sloading"><i class="fa fa-spinner fa-2x fa-spin wt-spin"></i></span>
                                <span ng-hide="sloading">Proceed</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-show="isStudent && isStudentOfUg" class="animate-show">
                    <div class="col-sm-6">
                        <h2 class="h2">Which department(s) do you belong to?</h2>
                        <p class="lead text-muted">
                            Choose one or more of the departments below
                        </p>
                        <div class="row">
                            <div class="wt-dpt-container">
                                <div ng-repeat="dept in depts" class="wt-container">
                                    <p class="lead wt-check-list">
                                        <label class="myCheckbox">
                                            <input id="{{dept}}" type="checkbox" value="{{dept.name}}"
                                                   ng-checked="selection.indexOf(dept) > -1"
                                                   ng-click="toggleSelection(dept)"/>
                                            <span></span>
                                        </label>
                                        <label for="{{dept}}" class="real">{{dept.name}}</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 wt-center-content">
                        <div class="row">

                            <h3 class="h3">
                                Choose your level and hall of residence
                            </h3>
                            <form class="" name="schForm">
                                <div class="row form-group">
                                    <label for="hall" class="text-muted">Residential Status (hall)</label>
                                    <select name="hall" id="hall" ng-model="sub.hall" ng-options="h.name for h in halls"></select>
                                </div>
                                <div class="row wt-row">
                                    <label class="text-muted">Select Level</label><br/>
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            <input type="radio" id="100" class="form-inline" name="level" ng-model="sub.level"  value="100"/>
                                            <label  for="100" ><span></span>100</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="radio" id="200" class="form-inline" name="level" ng-model="sub.level"  value="200"/>
                                            <label  for="200" ><span></span>200</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="radio" id="300" class="form-inline" name="level" ng-model="sub.level"  value="300"/>
                                            <label  for="300" ><span></span>300</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="radio" id="400" class="form-inline" name="level" ng-model="sub.level"  value="400"/>
                                            <label  for="400" ><span></span>400</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="radio" id="500" class="form-inline" name="level" ng-model="sub.level"  value="500"/>
                                            <label  for="500" ><span></span>500</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="radio" id="600" class="form-inline" name="level" ng-model="sub.level"  value="600"/>
                                            <label  for="600" ><span></span>600</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group wt-center-content">
                                    <button ng-click="NotStudentofUg();" ng-disabled="isProcessing" class="btn-sm btn-success">I'm a student of a different institution</button>
                                    <button ng-click="NotStudent();" ng-disabled="isProcessing" class="btn-sm btn-danger">
                                        <span ng-show="sloading"><i class="fa fa-spinner fa-2x fa-spin wt-spin"></i></span>
                                        <span ng-hide="sloading">I'm not a student</span>
                                    </button>
                                    <div>
                                        <button type="submit" ng-disabled="isProcessing" ng-click="SubmitUgStudent(sub,'desktop');" class="btn-primary btn" type="submit">
                                            <span ng-show="sloading"><i class="fa fa-spinner fa-2x fa-spin wt-spin"></i></span>
                                            <span ng-hide="sloading">Submit</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $('.wt-dpt-container').enscroll({
        verticalTrackClass: 'track',
        verticalHandleClass: 'handle',
        minScrollbarLength: 28
    });
</script>
</span>
<span class="wt-mobile">
    <div ui-content-for="title">
        <span class="wt-mob-logo-name">Change Education Info.</span>
    </div>
    <div ng-include="'partials/logged/settings/schInfo/schinfo.mobile.html'"></div>
</span>