<div ng-hide="isStudent" class="wt-center-content">
    <p>
        Are you a student of the University of Ghana?
        <md-button ng-click="StudentofUg()" class="md-button md-raised mob-primary mob-btn-block">Yes</md-button>
        <md-button ng-click="NotStudentofUg();" class="md-button md-raised md-warn mob-btn-block">No</md-button>
    </p>
    <div class="wt-center-content">
        <md-button ng-click="NotStudent();" ng-disabled="isProcessing" class="md-accent md-raised mob-btn-block">
            <span ng-show="sloading"><md-progress-circular md-mode="indeterminate"></md-progress-circular></span>
            <span ng-hide="sloading">I'm not a student</span>
        </md-button>
    </div>
</div>
<div ng-show="isStudent && !isStudentOfUg" class="animate-show wt-center-content">
    <div class="wt-not-ug-student">
        <div>
            <form name="pForm" class="farm">
                <md-input-container class="md-block">
                    <label>Specify institution (optional)</label>
                    <input type="text" cu-focus ng-model="schoolname" name="schoolname"/>
                    <div ng-messages="pForm.email.$error" role="alert">
                        <div ng-show="pForm.schoolname.$focused" class="wt-mob-error-msg wt-mob-suc-msg">Enter the name of your noble institution</div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </div>
    <div class="container">
        <p>
            <md-button ng-click="SubmitNotUgStudent(schoolname)" ng-disabled="isProcessing" class="md-raised mob-primary mob-btn-block">
                <span ng-show="sloading"><md-progress-circular md-mode="indeterminate"></md-progress-circular></span>
                <span ng-hide="sloading">Proceed</span>
            </md-button>
        </p>
        <p>
            <md-button ng-click="StudentofUg()" class="md-raised mob-btn-block" >I'm  a student of UG.</md-button>
        </p>
        <p>
            <md-button ng-click="NotStudent();" ng-disabled="isProcessing" class="md-raised md-warn mob-btn-block">
                <span ng-show="sloading"><md-progress-circular md-mode="indeterminate"></md-progress-circular></span>
                <span ng-hide="sloading">I'm not a student</span>
            </md-button>
        </p>
    </div>
</div>
<div ng-show="isStudent && isStudentOfUg" class="animate-show">
    <div class="wt-chose-dept-mobile">
        <h4 class="h4">Which department(s) do you belong to?</h4>
        <!--<a href="" ui-turn-on="modalDept">Choose one or more of the departments</a>-->
        <a ng-click="showDeptDialog($event)">Choose one or more of the departments</a>
        <span ng-if="selection.length > 0">(<span ng-repeat="name in selection">{{name.name}}<span ng-if="!$last"> ,</span></span>)</span>
    </div>
    <div class="wt-chose-hall-mobile wt-center-content">
        <div class="row">
            <h3 class="h3 wt-hall-h3-mobile">
                Choose your level and hall of residence
            </h3>
            <form class="farm container" name="schForm">
                <md-input-container class="md-block">
                    <label>Residential Status (hall)</label>
                    <md-select ng-model="sub.hall">
                        <md-option ng-repeat="h in halls" value="{{h}}">
                            {{h.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div class="row wt-row">
                    <label class="text-muted">Select Level</label><br/>
                    <md-radio-group ng-model="sub.level">
                        <md-radio-button style="display: inline" value="100" class="md-primary">100</md-radio-button>
                        <md-radio-button style="display: inline" value="200" class="md-primary"> 200 </md-radio-button>
                        <md-radio-button style="display: inline" value="300" class="md-primary"> 300 </md-radio-button>
                        <md-radio-button style="display: inline" value="400" class="md-primary"> 400 </md-radio-button>
                        <md-radio-button style="display: inline" value="600" class="md-primary"> 600 </md-radio-button>
                    </md-radio-group>
                </div>
                <div class="form-group wt-center-content">
                    <p>
                        <md-button type="submit" ng-click="SubmitUgStudent(sub,'mobile');" ng-disabled="isProcessing" class="md-raised mob-primary mob-btn-block">
                            <span ng-show="sloading"><md-progress-circular md-mode="indeterminate"></md-progress-circular></span>
                            <span ng-hide="sloading">Submit</span>
                        </md-button>
                    </p>
                    <p>
                        <button ng-click="NotStudentofUg();" ng-disabled="isProcessing" class="md-button md-raised mob-btn-block">I'm a student of a different institution</button>
                    </p>
                    <p>
                        <button ng-click="NotStudent();" ng-disabled="isProcessing" class="md-button md-raised md-accent mob-btn-block">
                            <span ng-show="sloading"><md-progress-circular md-mode="indeterminate"></md-progress-circular</span>
                            <span ng-hide="sloading">I'm not a student</span>
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>