<style>
    body{
        background: rgba(17,194,159,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(17,194,159,1) 0%, rgba(15,124,102,1) 78%, rgba(15,124,102,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(17,194,159,1)), color-stop(78%, rgba(15,124,102,1)), color-stop(100%, rgba(15,124,102,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(17,194,159,1) 0%, rgba(15,124,102,1) 78%, rgba(15,124,102,1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(17,194,159,1) 0%, rgba(15,124,102,1) 78%, rgba(15,124,102,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(17,194,159,1) 0%, rgba(15,124,102,1) 78%, rgba(15,124,102,1) 100%);
        background: radial-gradient(ellipse at center, rgba(17,194,159,1) 0%, rgba(15,124,102,1) 78%, rgba(15,124,102,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11c29f', endColorstr='#0f7c66', GradientType=1 );
    }
    .top-bar{
        display: none;
    }
    .text-muted {
        color: #fff;
    }
    .f-topbar-fixed {
        padding-top: 0;
    }
    hr{
        background-image: -moz-linear-gradient(left, transparent 0%, rgba(255, 255, 255, 0.35) 15%, rgba(255, 255, 255, 0.35) 85%, transparent 100%);
        background-image: -webkit-linear-gradient(left, transparent 0%, rgba(255, 255, 255, 0.35) 15%, rgba(255, 255, 255, 0.35) 85%, transparent 100%);
        background-image: linear-gradient(left, transparent 0%, rgba(255, 255, 255, 0.35) 15%, rgba(255, 255, 255, 0.35) 85%, transparent 100%);
        border: none;
        height: 1px;
        width: 100%;
    }
    .wt-home-header{
        margin-bottom: 0;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 4px;
    }
</style>
<div class="">
    <div id="homepage" class="homepage">
        <div class="container wt-home-header">
            <img height="50px" src="/img/wontah-header1.png"/>
            <a style="float: right" class="btn btn-lg sign-in" ui-sref="login">
                <span class="text">sign in</span>
            </a>
            <hr>
        </div>
        <div id="top-header" class="top-header">
            <section id="carrousel">
                <div id='pager'></div>
                <div class="wt-carousel-btn  left" id="next">
                <span class="ion ion-ios-arrow-left"></span>
                </div>
                <div class="wt-carousel-btn  right" id="prev">
                <span class="ion ion-ios-arrow-right"></span>
                </div>
                <div id="slide">
                    <!--SLIDE ONE-->
                    <div id="carrousel-page1" class="page active">
                        <div class="row payoff">
                            <div class="col-md-12">
                                <div>
                                    <h1>Wontah makes it easy to enjoy the best of what matters in your world</h1>
                                    <h2>Join the family, be part of something big and get to know what's going on around you</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row more">
                            <div class="col-md-12">
                                <div>
                                    <a id="signUp1" ng-click="NotHome();" class="btn btn-lg sign-up" ui-sref="register">
                                        <span class="text">Sign up</span>
                                    </a>
                                    <a id="learnMore" class="btn btn-lg learn-more">
                                        <span class="text">Learn More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row carrousel">
                            <div class="col-md-12">
                                <div class="screenshots">
                                    <div>
                                        <div class="browser-frame">
                                            <img class="screenshot flex" src="img/slide1.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--SLIDE TWO-->
                    <div id="carrousel-page1" class="page">
                        <div class="row payoff">
                            <div class="col-md-12">
                                <div>
                                    <h1>Create communities and invite friends to be part of your world</h1>
                                    <h2>You can create a community base on an idea you have and invite friends to be part of your community</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row more">
                            <div class="col-md-12">
                                <div>
                                    <a id="signUp1" ng-click="NotHome();" class="btn btn-lg sign-up" ui-sref="register" role="button">
                                        <span class="text">Try it now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row carrousel">
                            <div class="col-md-12">
                                <div class="screenshots">
                                    <div>
                                        <div class="browser-frame">
                                            <img class="screenshot flex" src="img/slide3.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--SLIDE THREE-->
                    <div id="carrousel-page1" class="page">
                        <div class="row payoff">
                            <div class="col-md-12">
                                <div>
                                    <h1>Sharing ideas and links was never so easy</h1>
                                    <h2>Share links and texts and let other users decide whether there are worthy.</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row more">
                            <div class="col-md-12">
                                <div>
                                    <a id="signUp1" ng-click="NotHome();" class="btn btn-lg sign-up" ui-sref="register" role="button">
                                        <span class="text">Try it now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row carrousel">
                            <div class="col-md-12">
                                <div class="screenshots">
                                    <div>
                                        <div class="browser-frame">
                                            <img class="screenshot flex" src="img/slide2.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer style="margin-top: 10%;" ng-include="'partials/templates/footer.html'"></footer>
</div>
<!--<script>$(document).foundation();</script>-->
<script>
    $('#slide').cycle({
        fx: 'scrollHorz',
        next:   '#prev',
        prev:   '#next',
        pager:  '#pager',
        timeout: 7000,
        speed: 500
    });
</script>