<div ui-content-for="title">
    <span class="wt-mob-logo-name">Wontah</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section wt-home-section">
        <div class="wt-home-jumbotron">
            <div class="wt-center-content">
                    <span>
                        <img class="animated zoomIn" src="/img/wontah.png" width="35%" alt="wontah">
                    </span>
                    <span class="wt-color-white">
                        <h2 class="h2 wt-heading animDelay04 animated fadeInUp">WONTAH</h2>
                    </span>
            </div>
        </div>
        <br/>
        <div  class="animDelay08 animated fadeInRight">
            <div class="csslider">
                <input type="radio" name="slides" id="slides_1" checked />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_N" />
                <ul>
                    <li>
                        <p>Wontah makes it easy to enjoy the best of what matters in your world</p>
                        <small>Join the family, be part of something big and get to know what's going on around you</small>
                    </li>
                    <li>
                        <p>Create communities and invite friends to be part of your world</p>
                        <small>You can create a community base on an idea you have and invite friends to be part of your community</small>
                    </li>
                    <li>
                        <p>Sharing ideas and links was never so easy</p>
                        <small>Share links and texts and let other users decide whether there are worthy.</small>
                    </li>
                </ul>
                <div class="navigation">
                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_N"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>